<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>
    {{!-- Navigation links --}}
    <nav>
        <h4>Node MySQL Login</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/registerasset">Register Laptop</a></li>
            <li><a href="/leaseform">Lease a laptop</a></li>
        </ul>
    </nav>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
<div class="dropdownMenus col-md-12">
  <div class='form-field'>
    <label for='brandFilter'>Brand</label>
    <select id='brandFilter' class='form-control'>
      <option>Choose brand</option>
      {{#each shoes}}
      <option value="{{this}}">{{this.brand}}</option>
      {{/each}}
    </select>
  </div>
  
  <div class='form-field'>
    <label for='sizeFilter'>Size</label>
    <select id='sizeFilter' class='form-control'>
      <option>Choose size</option>
      {{#each shoes}}
      <option value="{{this}}">{{this.size}}</option>
      {{/each}}
    </select>
  </div>
    
  <div class='form-field'>
    <label for='colorFilter'>Color</label>
    <select id='colorFilter' class='form-control'>
      <option>Choose color</option>
      {{#each shoes}}
      <option value="{{this}}">{{this.color}}</option>
      {{/each}}
    </select>
  </div>
    
</div>
</div>
</body>
</html>
